.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
	margin: auto;
	width: 50%;
	background-color: #9e93b4;
	opacity: 70%;
	border: 1px transparent;
	border-radius: 20px;
	padding: 30px;
}

.input-field {
	border-radius: 20px;
	background-color: #c6b6df;
	text-align: center;
}

.create-gallery-form {
	margin: auto;
	width: 50%;
	background-color: #9e93b4;
	opacity: 70%;
	border: 1px transparent;
	border-radius: 20px;
	padding: 30px;
}

.my-button {
	border-radius: 10px;
	margin: 5px;
	width: 80px !important;
	padding: 5px;
}

.navbar-item {
	color: #05070f;
	margin: 10px;
	font-size: 15px;
}

.navbar-item:hover {
	color: #761494;
	text-decoration: none;
}

.navbar-brand {
	color: #4d0577;
}

.logout-span {
	position: absolute;
	right: 50px;
	background-color: #b3b2df;
}

.admin-span{
	position: absolute;
	right: 130px;
}

.btn {
	border: 1px solid #585562;
	color: #585562;
}

.navbar-color {
	background-color: #9e93b4;
	height: 60px;
}